@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import "tailwindcss";
@import "./css_properties.css";

html,
body {
  padding: 1.5rem;
  background-color: var(--main-bg-color);
  font-family: var(--standard-font);
}

button {
  border: 0.25rem solid black;
  border-radius: 1.5rem;
  margin: 0.2rem;
  padding: 0.8rem;
}

button:hover {
  border: 0.25rem solid var(--vibrant-blue);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 4rem;
  font-family: var(--title-font);
  margin: 2rem;
}

.menu-button {
  font-size: 1rem;
  width: 15rem;
  margin: 0.6rem;
  background-color: var(--secondary-bg);
  border-color: var(--contrast);
}

.vbox {
  display: flex;
  flex-direction: column;
}
